.egaay { 
  margin-right: 37px;
  padding-left: 51px;
  margin-bottom: 15px;
  margin-top: 57px;
  margin-right: 56px;
  padding-left: 8px;
  border-right-width: 5px;
  padding-right: 30px;
  font-size: 48px;
  margin-right: 70px;
  padding-left: 20px;
  padding-right: 50px;
  margin-left: 6px;
  margin-bottom: 90px;
  border-left-width: 68px;
  padding-top: 59px;
  margin-bottom: 66px;
  padding-bottom: 56px;
  font-size: 54px;
}
